
.icon-power:before { content: '\e800'; } /* '' */
.icon-universal-access:before { content: '\e801'; } /* '' */
.icon-users:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-book-open:before { content: '\e804'; } /* '' */
.icon-moon:before { content: '\e805'; } /* '' */
.icon-mail:before { content: '\e806'; } /* '' */
.icon-fast-food:before { content: '\e815'; } /* '' */
.icon-star-half-alt:before { content: '\f123'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */